/* ================= HERO SECTION ================= */
.hero {
  position: relative;
  min-height: 100vh;
  background: url("./assets/hero-bg.jpg") center/cover no-repeat;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Dark overlay */
.hero-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.65);
  z-index: 1;
}

.hero-container {
  position: relative;
  z-index: 2;
  max-width: 1200px;
  margin: 0 auto;
  /* padding: 0 20px; */
  padding: 10px 50px 20px;
  /* padding: 20px 0; */
  display: grid;
  /* grid-template-columns: 1.2fr 0.8fr; */
  grid-template-columns: 55% 40%;
  align-items: center;
  gap: 60px;
}

/* Left content */
.hero-content h1 {
  /* font-size: 56px; */
  font-size: 42px;
  line-height: 1.2;
  margin-bottom: 20px;
}

.hero-content h1 span {
  color: #f6b400;
}

.hero-content p {
  max-width: 520px;
  font-size: 16px;
  line-height: 1.7;
  color: #e0e0e0;
  margin-bottom: 30px;
}

/* Buttons */
.hero-actions {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-bottom: 35px;
}

.hero-btn {
  /* background: #f6b400; */
  background: transparent;
  border: 1.45px solid #fff;
  /* color: #000; */
  color: #fff;
  /* padding: 14px 28px; */
  padding: 6px 28px;
  border-radius: 6px;
  font-weight: 600;
  text-decoration: none;
}

.btn-video {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

.play-icon {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: #f6b400;
  display: grid;
  place-items: center;
  color: #000;
  font-size: 14px;
}

/* Video Card */
.hero-right-content {
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: flex-end;
  gap: 90px;
  /* padding:; */
}

.video-card {
  /* width: 420px;
  height: 260px; */
  height: 160px;
  width: 240px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 14px;
  display: grid;
  place-items: center;
  position: relative;
  backdrop-filter: blur(6px);
  margin-top: 4rem;
}

.video-play {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #f6b400;
  color: #000;
  display: grid;
  place-items: center;
  font-size: 22px;
  cursor: pointer;
}

/* Ratings */
.hero-ratings {
  /* position: absolute; */
  display: flex;
  /* align-items: right; */
  /* flex-wrap: wrap; */
  /* gap: 20px; */
  gap: 1rem;
  font-size: 13px;
  /* margin-top: 45%; */
  /* color: #dcdcdc;
  background-color: hsla(0 10% 20% / .1);
  backdrop-filter: blur(1rem);
  padding: .65rem; */
  /* display: flex;
  gap: 16px;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px; */
}



.hero-ratings span {
  width: 160px;
  display: block;
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
  padding: 10px 34px;
  font-size: 11.5px;
  /* background-color: hsla(0 10% 40% / .24);
  backdrop-filter: blur(1rem); */
  /* padding: .6rem; */
  border-radius: 18px;
}

/* Bottom Strip */
.hero-strip {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #000;
  border-top: 3px solid #f6b400;
  display: flex;
  justify-content: center;
  gap: 220px;
  /* padding: 14px 10px; */
  padding: 20px 0;
  font-size: 14px;
  z-index: 2;
}


/*===================== About section =====================*/

.about-home {
  padding: 100px 6%;
  background: #fff;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.about-container {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 45% 55%;
  /* gap: 60px; */
  gap: 100px;
  align-items: center;
}

/* LEFT */
.about-left {
  position: relative;
}

.image-wrap img {
  width: 100%;
  height: 334px;
  /* width: 279px; */
  border-radius: 16px;
  position: relative;
  z-index: 2;
}

.dots-bg {
  position: absolute;
  top: -30px;
  right: -30px;
  /* width: 140px;
  height: 140px; */
  width: 212px;
  height: 306px;
  background-image: radial-gradient(#dcdcdc 2px, transparent 2px);
  background-size: 14px 14px;
  z-index: 1;
}

.about-right {
  position: relative;
}

/* RIGHT */
.about-badge {
  display: inline-block;
  /* text-align: center; */
  padding: 8px 18px;
  border-radius: 30px;
  /* background: #eaf4ff; */
  background: #fff;
  color: #0d6efd;
  font-weight: 600;
  /* font-size: 14px; */
  font-size: 30px;
  margin-bottom: 20px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
}

.about-right h2 {
  font-size: 40px;
  line-height: 1.3;
  margin-bottom: 30px;
  color: #000;
}

.about-right h2 span {
  color: #0d6efd;
}

.about-highlight {
  display: flex;
  gap: 18px;
  margin-bottom: 30px;
}

.about-highlight .bar {
  /* width: 4px; */
  width: 20px;
  /* background: #0d6efd; */
  background: #65B7E6;
  /* border-radius: 4px; */
}

.about-highlight h4 {
  /* font-size: 18px; */
  font-size: 22px;
  margin-bottom: 8px;
  color: #000;
}

.about-highlight p {
  color: #555;
  font-size: 15px;
  line-height: 1.6;
  font-weight: 600;
}

/* FEATURES */
.about-features {
  display: flex;
  gap: 50px;
  margin-bottom: 30px;
  /* position: absolute; */
}

.about-features strong {
  display: block;
  font-size: 16px;
}

.about-features span {
  font-size: 14px;
  /* color: #666; */
}

/* ACTIONS */
.about-actions {
  display: flex;
  align-items: center;
  gap: 30px;
}

/* .about-actions a span {
  background-color: #fff;
  border-radius: 50%;
  padding: .65rem;
  font-size: 2rem;
} */

.btn-primary {
  background: #f4b000;
  color: #000;
  padding: 14px 26px;
  border-radius: 40px;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}

.call-box {
  display: flex;
  align-items: center;
  gap: 14px;
}

.call-icon {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background: #f4b000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  /* background-color: #fff; */
}

.call-box small {
  display: block;
  font-size: 12px;
  color: #777;
}

.call-box strong {
  font-size: 15px;
}




/*====================== why choose us section ======================*/

.why-choose-us {
  /* background: linear-gradient(180deg, #0f0f0f, #151515); */
  background: #232429;
  padding: 100px 20px;
  color: #fff;
  position: relative;
  overflow: hidden;
}

.why-choose-us .container {
  max-width: 1200px;
  margin: auto;
  text-align: center;
}

/* Glass Card */
.why-card {
  /* background: rgba(255, 255, 255, 0.08); */
  background: hsla(0 10% 20% / .12);
  backdrop-filter: blur(12px);
  /* border: 1px solid rgba(255, 255, 255, 0.15); */
  border: 1.5px solid grey;
  border-radius: 16px;
  /* padding: 40px; */
  padding: 40px 20px;
  /* max-width: 700px; */
  max-width: 550px;
  margin: auto;
}

.why-card h2 {
  font-size: 32px;
  margin-bottom: 15px;
}

.why-card p {
  font-size: 15px;
  line-height: 1.7;
  color: #d1d1d1;
}

/* Stats */
/* .stats {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 50px 0;
  flex-wrap: wrap;
}

.stat-box {
  background: rgba(255, 255, 255, 0.06);
  padding: 25px 35px;
  border-radius: 12px;
  min-width: 220px;
}

.stat-box h3 {
  font-size: 36px;
  color: #ffb703;
}

.stat-box span {
  font-size: 14px;
  color: #cfcfcf;
} */

/* Yellow strip */
.tech-strip {
  background: #f4a300;
  padding: 40px 20px;
  text-align: center;
  /* margin-top: 1rem; */
}

.tech-strip h3 {
  font-size: 22px;
  margin-bottom: 25px;
  color: #fff;
}

.tech-icons {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.tech-icons div {
  color: #1e1e1e;
  font-size: 28px;
  text-align: center;
}

.tech-icons img {
  height: 60px;
  /* width: 40px; */
}

.tech-icons span {
  display: block;
  font-size: 12px;
  margin-top: 6px;
}


/* SKILLED IT SECTION */
.skilled-it-section {
  background: #fff;
  color: #000;
}

/* What we do */
.what-we-do {
  display: grid;
  grid-template-columns: 1.1fr 1fr;
  gap: 50px;
  padding: 80px 20px;
  align-items: center;
}

.what-we-do h2 {
  font-size: 34px;
  margin-bottom: 30px;
}

.do-item {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 15px 0;
  border-bottom: 1px solid #e5e5e5;
}

.icon-box {
  width: 42px;
  height: 42px;
  background: #111;
  color: #f4a300;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.do-item h4 {
  font-size: 16px;
}

.do-item p {
  font-size: 14px;
  color: #666;
}

.arrow {
  margin-left: auto;
  font-size: 20px;
  color: #f4a300;
}

.btn-primary {
  display: inline-block;
  margin-top: 30px;
  background: #f4a300;
  color: #fff;
  padding: 12px 28px;
  border-radius: 30px;
  text-decoration: none;
}

/* Image */
.what-we-do img {
  width: 100%;
  border-radius: 12px;
}

/* Responsive */
@media (max-width: 992px) {
  .what-we-do {
    grid-template-columns: 1fr;
  }
}


/* ---------- Stats Bar ---------- */
.portfolio-stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  /* padding: 40px 60px; */
  padding: 14px 40px;
  /* border-radius: 80px; */
  border-radius: 1.25rem;
  border: 2px solid grey;
  /* background: #f8f8f8; */
  /* background: #444444; */
  /* background-image: linear-gradient(360deg, #222, #555); */
  background: hsla(0 10% 20% / .12);
  backdrop-filter: blur(1rem);
  margin: 6rem 4rem 2rem;
  /* margin-bottom: 100px; */
}

.portfolio-stats .stat {
  text-align: center;
  flex: 1;
}

.portfolio-stats h3 {
  /* font-size: 48px; */
  font-size: 42px;
  font-weight: 600;
  margin-bottom: 10px;
}

.portfolio-stats p {
  font-size: 16px;
  /* font-size: 12px; */
  /* color: #666; */
  color: #fff;
}

.portfolio-stats .divider {
  width: 1px;
  height: 60px;
  background: #ddd;
}

.portfolio-showcase {
  /* padding: 80px 0; */
  padding: 50px 0;
  background-color: #17181A;
}

/* ---------- Portfolio Head ---------- */
.portfolio-head {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  /* margin-bottom: 80px; */
  /* padding: 0 48px; */
}

.portfolio-head h3 {
  /* font-size: 42px; */
  font-size: 36px;;
  line-height: 1.2;
  /* font-weight: 700; */
  font-weight: 600;
}

.portfolio-head .tags {
  display: flex;
  gap: 12px;
  margin-top: 25px;
}

.portfolio-head .tags span {
  /* padding: 10px 18px; */
    padding: 5px 16px;
  /* border-radius: 30px; */
  border-radius: 18px;
  /* font-size: 14px; */
  font-size: 16px;
  /* background: #f2f2f2; */
  background: hsla(0 10% 20% / .12);
  border: 1px solid #fff;
  /* color: #333; */
  color: #fff;
  cursor: default;
}

/* ---------- Portfolio Banner ---------- */
.portfolio-banner {
    /* display: flex; */
    overflow: hidden;
    /* padding: 0 48px; */
    padding-top: 70px;
}

.portfolio-banner img {
    border-radius: 24px;
    /* height: 437px; */
    height: 450px;
    width: 1200px;
    /* width: 100%; */
}


/* ---------- Portfolio Grid ---------- */
.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  /* gap: 50px; */
  /* padding-top: 2rem; */
  /* padding: 0 48px; */
  padding-top: 30px;
}

/* ---------- Portfolio Card ---------- */
.portfolio-card {
  position: relative;
  border-radius: 24px;
  overflow: hidden;
  background: #fff;
}

/* Image Cards */
.portfolio-card.large img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 24px;
}

/* Arrow Button */
.portfolio-card .arrow {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  color: #000;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}

.portfolio-card .arrow:hover {
  transform: translateY(-4px);
}

/* Text Cards */
.portfolio-card.text {
  /* padding: 40px; */
  padding: 40px 20px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.portfolio-card.text p {
  font-size: 16px;
  line-height: 1.8;
  color: #444;
}

/* Card Footer */
.card-footer {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-footer a {
  font-size: 16px;
  font-weight: 600;
  color: #000;
  text-decoration: none;
}

.card-footer a:hover {
  text-decoration: underline;
}

.card-footer .badge {
  padding: 8px 14px;
  /* border-radius: 20px; */
  border-radius: 12px;
  font-size: 13px;
  /* background: #f1f1f1; */
  background: #17181A;
  /* color: #333; */
  color: #fff;
}


/* ===============================
   Portfolio CTA Section
================================ */

.portfolio-cta {
  background: #ffffff;
  border-radius: 12px;
  /* margin: 80px auto; */
  /* margin: 20px auto; */
  margin: 0 auto;
}

.portfolio-cta-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  /* padding: 60px 40px; */
  padding: 20px 40px 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.portfolio-cta-content h4 {
  /* font-size: 16px; */
  font-size: 22px;
  font-weight: 500;
  color: #111;
  margin-bottom: 12px;
}

.portfolio-cta-content h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.3;
  /* color: #0b5ed7;  */
  background-image: linear-gradient(120deg, #0D47A1, #00B5D2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.portfolio-cta-btn {
  flex-shrink: 0;
}

.cta-btn-outline {
  display: inline-block;
  /* padding: 14px 36px; */
  padding: 14px 100px;
  border: 2px solid #f4a261;
  color: #f4a261;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.3s ease;
}

/* .cta-btn-outline:hover {
  background: #f4a261;
  color: #fff;
} */

/* Services */
.services-title {
  font-size: 26px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 25px;
  margin: 4rem auto;
}

.service-card {
  background: #000;
  border-radius: 14px;
  overflow: hidden;
  text-align: left;
  transition: transform 0.4s ease;
}

.service-card:hover {
  transform: translateY(-10px);
}

.service-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.service-card h4 {
  padding: 15px 15px 5px;
  font-size: 18px;
}

.service-card p {
  padding: 0 15px 20px;
  font-size: 14px;
  color: #bdbdbd;
}




/* industries section */
.industries-section {
  background: #0f1115;
  color: #fff;
  padding: 120px 80px;
  position: relative;
  overflow: hidden;
}

.industries-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}

/* IMAGES */
.industries-images {
  position: relative;
  width: 45%;
  height: 420px;
}

.industries-images img {
  position: absolute;
  bottom: 0;
  max-height: 100%;
}

.img-back {
  left: 0;
  opacity: 0.3;
}

.img-mid {
  left: 80px;
  opacity: 0.6;
}

.img-front {
  left: 160px;
  z-index: 2;
}

/* CONTENT */
.industries-content {
  width: 50%;
}

.industries-label {
  font-size: 14px;
  letter-spacing: 1px;
  color: #bbb;
}

.industries-content h2 {
  font-size: 48px;
  line-height: 1.2;
  margin: 15px 0 30px;
}

.blue-text {
  color: #2f80ed;
}

/* BUTTONS */
.industries-buttons {
  display: flex;
  align-items: center;
  gap: 25px;
}

.btn-outline {
  padding: 12px 28px;
  border: 1px solid #fff;
  border-radius: 30px;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}

.btn-text {
  color: #bbb;
  text-decoration: none;
  font-size: 14px;
}

/* CTA CARD */
.project-cta {
  margin-top: 120px;
  background: #1a1d23;
  border-radius: 20px;
  display: flex;
  overflow: hidden;
}

.cta-left {
  padding: 40px;
  width: 60%;
}

.cta-left h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

.cta-left input {
  width: 100%;
  padding: 14px;
  border-radius: 30px;
  border: none;
  margin-bottom: 15px;
}

.cta-left button {
  background: #f2a900;
  color: #000;
  border: none;
  padding: 12px 22px;
  border-radius: 30px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.cta-right {
  width: 40%;
}

.cta-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
