/* ================= HERO SECTION ================= */
.hero {
  position: relative;
  min-height: 100vh;
  /* background: url("./assets/hero-bg.jpg") center/cover no-repeat; */
  background: url("./assets/home_header.jpg") center/cover no-repeat;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Dark overlay */
.hero-overlay {
  position: absolute;
  inset: 0;
  /* background: rgba(0, 0, 0, 0.65); */
  z-index: 1;
}

.hero-container {
  position: relative;
  z-index: 2;
  max-width: 1200px;
  margin: 0 auto;
  /* padding: 0 20px; */
  padding: 10px 50px 20px;
  /* padding: 20px 0; */
  display: grid;
  /* grid-template-columns: 1.2fr 0.8fr; */
  grid-template-columns: 55% 40%;
  align-items: center;
  gap: 60px;
}

/* Left content */
.hero-content h1 {
  /* font-size: 56px; */
  font-size: 42px;
  line-height: 1.2;
  margin-bottom: 20px;
}

.hero-content h1 span {
  color: #f6b400;
}

.hero-content p {
  max-width: 520px;
  font-size: 16px;
  line-height: 1.7;
  color: #e0e0e0;
  margin-bottom: 30px;
}

/* Buttons */
.hero-actions {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-bottom: 35px;
}

.hero-btn {
  /* background: #f6b400; */
  background: transparent;
  border: 1.45px solid #fff;
  /* color: #000; */
  color: #fff;
  /* padding: 14px 28px; */
  padding: 6px 28px;
  border-radius: 6px;
  font-weight: 600;
  text-decoration: none;
}

.btn-video {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

.play-icon {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: #f6b400;
  display: grid;
  place-items: center;
  color: #000;
  font-size: 14px;
}

/* Video Card */
.hero-right-content {
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: flex-end;
  gap: 90px;
  /* padding:; */
}

.video-card {
  /* width: 420px;
  height: 260px; */
  height: 160px;
  width: 240px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 14px;
  display: grid;
  place-items: center;
  position: relative;
  backdrop-filter: blur(6px);
  margin-top: 4rem;
}

.video-play {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #f6b400;
  color: #000;
  display: grid;
  place-items: center;
  font-size: 22px;
  cursor: pointer;
}

/* Ratings */
.hero-ratings {
  /* position: absolute; */
  display: flex;
  /* align-items: right; */
  /* flex-wrap: wrap; */
  /* gap: 20px; */
  gap: 1rem;
  font-size: 13px;
  /* margin-top: 45%; */
  /* color: #dcdcdc;
  background-color: hsla(0 10% 20% / .1);
  backdrop-filter: blur(1rem);
  padding: .65rem; */
  /* display: flex;
  gap: 16px;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px; */
}



.hero-ratings span {
  width: 160px;
  display: block;
  color: #fff;
  /* background: rgba(0, 0, 0, 0.6); */
  padding: 10px 34px;
  font-size: 11.5px;
  background-color: hsla(0 10% 80% / .24);
  /* backdrop-filter: blur(.15rem); */
  /* padding: .6rem; */
  border-radius: 22px;
  border: 1.5px solid lightgrey;
}

/* Bottom Strip */
.hero-strip {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #000;
  border-top: 3px solid #f6b400;
  display: flex;
  justify-content: center;
  gap: 220px;
  /* padding: 14px 10px; */
  padding: 20px 0;
  font-size: 14px;
  z-index: 2;
}


/*===================== About section =====================*/

.about-home {
  padding: 100px 6%;
  background: #fff;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.about-container {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 45% 55%;
  /* gap: 60px; */
  gap: 100px;
  align-items: center;
}

/* LEFT */
.about-left {
  position: relative;
}

.image-wrap img {
  width: 100%;
  height: 334px;
  /* width: 279px; */
  border-radius: 16px;
  position: relative;
  z-index: 2;
}

.dots-bg {
  position: absolute;
  top: -30px;
  right: -30px;
  /* width: 140px;
  height: 140px; */
  width: 212px;
  height: 306px;
  background-image: radial-gradient(#dcdcdc 2px, transparent 2px);
  background-size: 14px 14px;
  z-index: 1;
}

.about-right {
  position: relative;
}

/* RIGHT */
.about-badge {
  display: inline-block;
  /* text-align: center; */
  padding: 8px 18px;
  border-radius: 30px;
  /* background: #eaf4ff; */
  background: #fff;
  color: #0d6efd;
  font-weight: 600;
  /* font-size: 14px; */
  font-size: 30px;
  margin-bottom: 20px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
}

.about-right h2 {
  font-size: 40px;
  line-height: 1.3;
  margin-bottom: 30px;
  color: #000;
}

.about-right h2 span {
  color: #0d6efd;
}

.about-highlight {
  display: flex;
  gap: 18px;
  margin-bottom: 30px;
}

.about-highlight .bar {
  /* width: 4px; */
  width: 20px;
  /* background: #0d6efd; */
  background: #65B7E6;
  /* border-radius: 4px; */
}

.about-highlight h4 {
  /* font-size: 18px; */
  font-size: 22px;
  margin-bottom: 8px;
  color: #000;
}

.about-highlight p {
  color: #555;
  font-size: 15px;
  line-height: 1.6;
  font-weight: 600;
}

/* FEATURES */
.about-features {
  display: flex;
  gap: 50px;
  margin-bottom: 30px;
  /* position: absolute; */
}

.about-features strong {
  display: block;
  font-size: 16px;
}

.about-features span {
  font-size: 14px;
  /* color: #666; */
}

/* ACTIONS */
.about-actions {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 30px;
}

.about-actions a {
  background: var(--gold);
  padding: .5rem .3rem .7rem 1rem;
  border-radius: 22px;
}

.about-contact i {
  background-color: #fff;
  border-radius: 50%;
  padding: .5rem;
}


/* .about-actions a span {
  background-color: #fff;
  border-radius: 50%;
  padding: .65rem;
  font-size: 2rem;
} */

.btn-primary {
  background: #f4b000;
  color: #000;
  padding: 14px 26px;
  border-radius: 40px;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}

.call-box {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 14px;
}

.call-icon {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background: #f4b000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  /* background-color: #fff; */
}

.call-box small {
  display: block;
  font-size: 12px;
  color: #777;
}

.call-box strong {
  font-size: 15px;
}




/*====================== why choose us section ======================*/

.why-choose-us {
  /* background: linear-gradient(180deg, #0f0f0f, #151515); */
  background: #232429;
  padding: 100px 20px;
  color: #fff;
  position: relative;
  overflow: hidden;
}

.why-choose-us .container {
  max-width: 1200px;
  margin: auto;
  text-align: center;
}

/* Glass Card */
.why-card {
  /* background: rgba(255, 255, 255, 0.08); */
  background: hsla(0 10% 20% / .12);
  backdrop-filter: blur(12px);
  /* border: 1px solid rgba(255, 255, 255, 0.15); */
  border: 1.5px solid grey;
  border-radius: 16px;
  /* padding: 40px; */
  padding: 40px 20px;
  /* max-width: 700px; */
  max-width: 550px;
  margin: auto;
}

.why-card h2 {
  font-size: 32px;
  margin-bottom: 15px;
}

.why-card p {
  font-size: 15px;
  line-height: 1.7;
  color: #d1d1d1;
}

/* Stats */
/* .stats {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 50px 0;
  flex-wrap: wrap;
}

.stat-box {
  background: rgba(255, 255, 255, 0.06);
  padding: 25px 35px;
  border-radius: 12px;
  min-width: 220px;
}

.stat-box h3 {
  font-size: 36px;
  color: #ffb703;
}

.stat-box span {
  font-size: 14px;
  color: #cfcfcf;
} */

/* Yellow strip */
.tech-strip {
  background: #f4a300;
  padding: 40px 20px;
  text-align: center;
  /* margin-top: 1rem; */
}

.tech-strip h3 {
  font-size: 22px;
  margin-bottom: 25px;
  color: #fff;
}

.tech-icons {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.tech-icons div {
  color: #1e1e1e;
  font-size: 28px;
  text-align: center;
}

.tech-icons img {
  height: 60px;
  /* width: 40px; */
}

.tech-icons span {
  display: block;
  font-size: 12px;
  margin-top: 6px;
}


/*====================== what we do section ======================*/
.skilled-it {
  background: #fff;
  color: #000;
}

.what-we-do {
  display: grid;
  grid-template-columns: 1.1fr 1fr;
  gap: 50px;
  padding: 80px 20px 30px;
  align-items: center;
}

.what-we-do h2 {
  font-size: 34px;
  margin-bottom: 30px;
}

.do-item {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 15px 0;
  border-bottom: 1px solid #e5e5e5;
}

.icon-box {
  width: 42px;
  height: 42px;
  background: #111;
  color: #f4a300;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.do-item h4 {
  font-size: 16px;
}

.do-item p {
  font-size: 14px;
  color: #666;
}

.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  font-size: 20px;
  color: #fff;
  background-color: var(--gold);
  border-radius: 50%;
  padding: .25rem .6rem;
}

.btn-primary {
  display: inline-block;
  margin-top: 30px;
  background: #f4a300;
  color: #fff;
  padding: 12px 28px;
  border-radius: 30px;
  text-decoration: none;
}

.what-we-do img {
  width: 100%;
  border-radius: 12px;
}

@media (max-width: 992px) {
  .what-we-do {
    grid-template-columns: 1fr;
  }
}



/* ---------- Stats Bar ---------- */
.portfolio-stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  /* padding: 40px 60px; */
  padding: 14px 40px;
  /* border-radius: 80px; */
  border-radius: 1.25rem;
  border: 2px solid grey;
  /* background: #f8f8f8; */
  /* background: #444444; */
  /* background-image: linear-gradient(360deg, #222, #555); */
  background: hsla(0 10% 20% / .12);
  backdrop-filter: blur(1rem);
  margin: 6rem 4rem 2rem;
  /* margin-bottom: 100px; */
}

.portfolio-stats .stat {
  text-align: center;
  flex: 1;
}

.portfolio-stats h3 {
  /* font-size: 48px; */
  font-size: 42px;
  font-weight: 600;
  margin-bottom: 10px;
}

.portfolio-stats p {
  font-size: 16px;
  /* font-size: 12px; */
  /* color: #666; */
  color: #fff;
}

.portfolio-stats .divider {
  width: 1px;
  height: 60px;
  background: #ddd;
}


/*=========================== portfolio showcase ===========================*/

.portfolio-showcase {
  /* padding: 80px 0; */
  padding: 50px 0;
  background-color: #17181A;
}

.portfolio-head {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  /* margin-bottom: 80px; */
  /* padding: 0 48px; */
}

.portfolio-head h3 {
  /* font-size: 42px; */
  font-size: 36px;;
  line-height: 1.2;
  /* font-weight: 700; */
  font-weight: 600;
}

.portfolio-head .tags {
  display: flex;
  gap: 12px;
  margin-top: 25px;
}

.portfolio-head .tags span {
  /* padding: 10px 18px; */
    padding: 5px 16px;
  /* border-radius: 30px; */
  border-radius: 18px;
  /* font-size: 14px; */
  font-size: 16px;
  /* background: #f2f2f2; */
  background: hsla(0 10% 20% / .12);
  border: 1px solid #fff;
  /* color: #333; */
  color: #fff;
  cursor: default;
}


/* Swiper styles for portfolio slider */
.swiper {
  width: 100%;
  /* height: 100%; */
  height: auto;
  margin: 0 auto;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
}

/* ---------- Portfolio Banner ---------- */
.portfolio-banner {
    /* display: flex; */
    overflow: hidden;
    /* padding: 0 48px; */
    padding-top: 70px;
    width: 100%;
    height: auto;
}

.portfolio-banner img {
    border-radius: 24px;
    /* height: 450px;
    width: 1200px; */
    width: 100%;        /* Make the images fill the slide */
    height: 350px;      /* Adjust the height to maintain aspect ratio */
    object-fit: cover; 
}

.portfolio-slider {
  position: relative;
  padding-bottom: 50px;
}

/* Swiper Pagination */
.swiper-pagination {
  text-align: center;
  margin-top: 20px;
  bottom: 10px !important;
}

.swiper-pagination-bullet {
  background: #f2a900;  /* or your preferred color */
  /* margin-bottom: 4rem; */
}

/* Swiper Navigation Buttons */
.swiper-button-next,
.swiper-button-prev {
  background-color: #f2a900; /* or your preferred color */
  border-radius: 50%;
  padding: 10px;
  color: #fff;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 20px;
}

/* .swiper-button-next { right: 20px; }
.swiper-button-prev { left: 20px; } */




/* ===============================
   Portfolio CTA Section
================================ */

.portfolio-cta {
  background: #ffffff;
  border-radius: 12px;
  /* margin: 80px auto; */
  /* margin: 20px auto; */
  margin: 0 auto;
}

.portfolio-cta-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  /* padding: 60px 40px; */
  padding: 20px 40px 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.portfolio-cta-content h4 {
  /* font-size: 16px; */
  font-size: 22px;
  font-weight: 500;
  color: #111;
  margin-bottom: 12px;
}

.portfolio-cta-content h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.3;
  /* color: #0b5ed7;  */
  background-image: linear-gradient(120deg, #0D47A1, #00B5D2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.portfolio-cta-btn {
  flex-shrink: 0;
}

.cta-btn-outline {
  display: inline-block;
  /* padding: 14px 36px; */
  padding: 14px 100px;
  border: 2px solid #f4a261;
  color: #f4a261;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.3s ease;
}

/* .cta-btn-outline:hover {
  background: #f4a261;
  color: #fff;
} */

/* Services */
.services-title {
  font-size: 26px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 25px;
  margin: 4rem auto;
}

.service-card {
  background: #000;
  border-radius: 14px;
  overflow: hidden;
  text-align: left;
  transition: transform 0.4s ease;
}

.service-card:hover {
  transform: translateY(-10px);
}

.service-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.service-card h4 {
  padding: 15px 15px 5px;
  font-size: 18px;
}

.service-card p {
  padding: 0 15px 20px;
  font-size: 14px;
  color: #bdbdbd;
}




/*============================== industries section ==============================*/
.industries {
  background: #212121;
  color: #fff;
  padding: 10px 80px 0;

  /* position: relative; */
}

.industries-wrapper {
  display: flex;
  /* align-items: center; */
  /* justify-content: space-between; */
  /* gap: 60px; */
  gap: 100px;
}


.industries-images {
  position: relative;
  width: 45%;
  height: 420px;
}

.industries-images img {

  position: relative;
  width: 520px;
  height: auto;
  transform: translateY(-200px);
}

.img-back {
  left: 0;
  opacity: 0.3;
}

.img-mid {
  left: 80px;
  opacity: 0.6;
}

.img-front {
  left: 160px;
  z-index: 2;
}

.industries-content {


}

.industries-label {
  font-size: 14px;
  letter-spacing: 1px;
  color: #bbb;
}

.industries-content span {
  color: #fff;
  font-size: 20px;
}

.industries-content h2 {
  font-size: 48px;
  line-height: 1.2;
  margin: 15px 0 30px;
}

.industries-content h2 span {
  font-size: 48px;
   background-image: linear-gradient(120deg, #0D47A1, #00B5D2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.blue-text {
  color: #2f80ed;
}

.industries-buttons {
  display: flex;
  align-items: center;
  gap: 25px;
}

.btn-outline {
  text-transform: uppercase;
  /* padding: 12px 28px; */
  padding: 8px 22px;
  border: 1px solid #fff;
  /* border-radius: 30px; */
  border-radius: 8px;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 12px;
}

.btn-text {
  color: #bbb;
  text-decoration: none;
  font-size: 14px;
}

.pro-cta {
  /* background: url("./assets/industries-bg-primary.png") center/cover no-repeat; */
  background-color: #212121;
  padding: 0 80px;
}


.project-cta {
  /* background-color: red; */
  background-image: url("./assets/industries-bg.png");
  background-repeat: no-repeat;
  border-radius: 20px;
  display: flex;
  overflow: hidden;
  display: grid;
  grid-template-columns: 50% 45%;
  align-items: center;
  place-content: center;
  padding: 40px 0;
}

.cta-left {
  padding: 0 80px;
}

.cta-left h3 {
  font-size: 40px;
  margin-bottom: 20px;
}

.cta-left input {
  width: 60%;
  padding: 14px;
  border: none;
  margin-bottom: 15px;
  background: transparent;
  border-bottom: 1.75px solid #fff;
}

.cta-left input::placeholder {
  color: #fff;
}

.cta-left button {
  width: 60%;
  background: #f2a900;
  color: #fff;
  border: none;
  padding: 12px 22px;
  border-radius: 30px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.cta-right {
  /* padding: 0 1rem; */
  padding: 10px 30px;
}

.cta-right img {
  /* width: 100%; */
  width: 436px;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}










/* ===================== Testimonials Section ===================== */

.testimonials {
  /* padding: 100px 0; */
  padding: 40px 0 150px;
  /* background: #ffffff; */
  background-image: url("./assets/testimonial.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  /* height: 100vh; */
}

/* ---------- Headings ---------- */
.testimonials h2 {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #111;
}

.testimonials .subtitle {
  font-size: 16px;
  color: #666;
  margin-bottom: 70px;
}

/* ---------- Cards Wrapper ---------- */
.testimonial-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 60px;
}

/* ---------- Testimonial Card ---------- */
.testimonial-card {
  /* width: 420px; */
  width: 460px;
  background: #fff;
  /* border: 2px solid #e5e5e5; */
  border: 2.5px solid grey;
  /* padding: 35px; */
  padding: 20px;
  position: relative;
  text-align: left;
  border-radius: 12px;
}

/* Speech bubble arrow */
.testimonial-card::after {
  content: "";
  position: absolute;
  bottom: -18px;
  left: 60px;
  border-width: 18px 18px 0 18px;
  border-style: solid;
  /* border-color: #e5e5e5 transparent transparent transparent; */
  border-color: grey transparent transparent transparent;
}

.testimonial-card::before {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 61px;
  border-width: 16px 16px 0 16px;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
  z-index: 1;
}

/* ---------- Stars ---------- */
.stars {
  color: #f9a825;
  font-size: 18px;
  margin-bottom: 15px;
}

/* ---------- Content ---------- */
.testimonial-card p {
  font-size: 15px;
  line-height: 1.7;
  color: #444;
  margin-bottom: 25px;
}

/* ---------- User Info ---------- */
.user {
  display: flex;
  align-items: center;
  gap: 12px;
}

.user img {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  object-fit: cover;
}

.user h4 {
  /* font-size: 15px; */
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  color: #111;
}

.user span {
  font-size: 13px;
  color: #666;
}

/* ---------- Floating Avatars ---------- */
.floating-avatar {
  position: absolute;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
}

.floating-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Positioning based on Figma */
.avatar-left-top {
  left: -80px;
  top: -40px;
}

.avatar-left-bottom {
  left: -80px;
  bottom: -20px;
}

.avatar-right-top {
  right: -80px;
  top: -40px;
}

.avatar-right-bottom {
  right: -80px;
  bottom: -20px;
}

/* ---------- Pagination Dots ---------- */
.testimonial-dots {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.testimonial-dots span {
  width: 10px;
  height: 4px;
  background: #ccc;
  border-radius: 10px;
}

.testimonial-dots span.active {
  width: 25px;
  background: #000;
} 


/*========================== FAQ section ==========================*/
.faq-section {
  padding: 80px 20px;
  background: #ffffff;
}

.faq-container {
  max-width: 1100px;
  margin: 0 auto;
  background: #e6e6e6;
  border-radius: 16px;
  padding: 50px 60px;
}

.faq-header {
  text-align: center;
  margin-bottom: 40px;
}

.faq-icon {
  width: 56px;
  height: 56px;
  background: #f4b000;
  color: #000;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  margin-bottom: 16px;
}

.faq-header h2 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 8px;
  color: #000;
}

.faq-header p {
  font-size: 14px;
  color: #555;
}

.faq-header a {
  color: #000;
  font-weight: 600;
  text-decoration: none;
}

.faq-list {
  margin-top: 30px;
}

.faq-item {
  border-bottom: 1px solid #cfcfcf;
}

.faq-question {
  width: 100%;
  background: transparent;
  border: none;
  padding: 18px 0;
  font-size: 16px;
  font-weight: 600;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.faq-toggle {
  display: flex;
  align-items: center;
  gap: 6px;
  /* font-size: 18px; */
  font-size: 32px;
  color: #7e7e7e;
  transition: transform 0.3s ease;
}

.faq-answer {
  max-height: 0;
  /* overflow: hidden; */
  transition: max-height 0.4s ease, opacity 0.3s ease;
  opacity: 0;
}

.faq-answer p {
  padding-bottom: 18px;
  font-size: 14px;
  color: #333;
  line-height: 1.6;
}

.faq-item.active .faq-answer {
  max-height: 300px;
}

.faq-item.active .faq-toggle {
  /* transform: rotate(180deg); */
}

/* arrow visibility control */
.arrow-circle-left {
  display: none;
}

/* when active, swap arrows */
.faq-item.active .arrow-circle-right {
  display: none;
}

.faq-item.active .arrow-circle-left {
  display: inline-block;
  color: #000;
}

.faq-item.active .faq-answer {
  opacity: 1;
}

.arrow-right,
.arrow-left {
  transition: opacity 0.2s ease;
}