/* google fonts cdn */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --blue:#0b5ed7;
    --dark:#0f172a;
    --gold:#e3a008;
    --light:#f8fafc;
    --card:#1e293b; 
    --muted:#94a3b8;
}

* {
    box-sizing:border-box;
    list-style: none;
    margin:0;
    padding:0;
}

body {
    /* font-family:'Inter',sans-serif; */
    font-family: "Roboto", sans-serif;
    /* background:#0b1220; */
    background: #fff;
    color:#fff;
    line-height:1.6;
    /* margin: 0;
    padding: 0; */
}

::-webkit-scrollbar {
    height: 8px !important;
    /* width: 1rem; */
    width: 8px !important;
}

::-webkit-scrollbar-track {
    /* background-color: transparent !important; */
    background-color: #e5e5e5 !important;
}

::-webkit-scrollbar-thumb {
    background-color: var(--gold) !important;
    /* border-radius: 5rem; */
    border-radius: 5px !important;
}

a {
    text-decoration:none;
    color:inherit
}

.highlight {
    color: var(--gold);
}

.header {
    /* background:url('https://images.unsplash.com/photo-1521737604893-d14cc237f11d') center/cover no-repeat; */
    background:url('./assets/header.jpeg');
    /* background-image: url('https://images.unsplash.com/photo-1521737604893-d14cc237f11d'); */
    background-position: center;
    background-size: cover;
    /* background-repeat: 400%; */
    background-repeat: no-repeat;
    min-height: 82vh;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    gap: 5em;
}

/* NAVBAR */
.navbar {
    background:#fff;
    color:#000;
    padding:16px 48px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    /* border-radius:16px; */
    border-radius: 2rem;
    margin:24px auto;
    /* margin: 0 auto 24px; */
    width: 1100px;
    max-width: 1600px;
    /* width: 800px; */
}

.nav-links a {
    margin:0 16px;
    font-weight:500;
     position: relative;
}

.nav-links a::after {
    content: '';
    position: absolute;
    height: 3px;
    width: 0;
    /* background-color: #5a2ada;
    background-color: #701414; */
    background-color: var(--gold);
    left: 0;
    bottom: -10px;
    transition: .3s;
}

.nav-links a:hover::after {
    width: 100%;
}

.nav-links a:hover {
    color: var(--gold);
}

.nav-links a.active {
    color:var(--gold)
}

.btn{
    background:var(--gold);
    color:#000;
    padding:10px 18px;
    border-radius:999px;
    font-weight:600;
}

/* HERO */
.hero{
    /* background:url('https://images.unsplash.com/photo-1521737604893-d14cc237f11d') center/cover no-repeat; */
    /* min-height:70vh; */
    /* max-width: max-content; */
    width: 100%;
    position:relative;
    display:flex;
    flex-direction: column;
    /* background: var(--gold); */
    justify-content: flex-start;
    /* align-items:flex-end; */
    /* align-items: center; */
}

.hero-content{
    /* position:relative;
    margin:0 auto;
    padding:48px; */

    position: relative;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 48px;
    padding-top: 120px;
    text-align: left;
}

.hero-content h1{
    font-size:56px;
    font-weight:800;
    /* margin-top: 2rem; */
    /* text-align: left; */
}

/* .hero-strip{
    background:var(--gold);
    color: #fff;
    padding:32px;
    margin-top:32px;
    border-radius:12px;
    max-width: 100%;
} */

.hero-strip{
    width: 100%;
    background: var(--gold);
    padding: 32px 0;
    /* margin-top: 22px; */
}

.hero-strip-inner{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 48px;
    color: #fff;
    /* font-size: 15px; */
    font-size: 17px;
    line-height: 1.6;
}


/* WHY JOIN */
.why {
    background-image: url('./assets/whybg.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.section{padding:80px 48px;
    max-width:1200px;
    margin:auto
}

.section h2 {
    font-size:36px;
    margin-bottom:32px;
    color: var(--gold);
}

.cards {
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap: 24px;
}

.card {
    background:rgba(255,255,255,.06);
    /* padding:32px; */
    padding: 22px 18px;
    border-radius:20px;
    /* border:1px solid rgba(255,255,255,.15); */
    border: 3px solid rgba(255,255,255,.15);
}

.card img {
    height: 90px;
}

.card h3 {
    margin:16px 0;
    font-size: 1.2rem;
}

.card p {
    color:var(--muted)
}

/* TEAM */
.team {
    display:grid;
    grid-template-columns:repeat(4,1fr);
    /* gap:32px; */
    /* gap: 12px; */
}

.member {
    /* text-align:center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.member img {
    /* width:140px;
    height:140px; */
    height: 190px;
    width: 190px;
    border-radius:50%;
    /* border:4px solid #fff; */
    border:6.65px solid #fff;
    object-fit:cover;
}

.member h4{
    margin-top:16px;
    font-size: 1.18rem;
}

.member span{
    color:var(--muted);
    font-size:14px;
}

.member .socials {
    /* font-size: 1rem; */
    /* background-color: hsla(0 10% 20% / .1);
    backdrop-filter: blur(1rem);
    padding: 1rem; */
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.member .socials i {
    font-size: 1.35rem;
    background-color: hsla(0 10% 20% / .5);
    backdrop-filter: blur(1rem);
    padding: .5rem .6rem;
    color: var(--gold);
    border-radius: 50%;
}

/* HIRING PROCESS */
.process {
    background:#fff;
    color:#000;
    border-radius:24px;
    padding:64px;
}

.process p {
    font-size: 1.25rem;
    font-weight: bold;
}

.steps {
    display:grid;
    grid-template-columns:repeat(4, 1fr);
    gap:24px;
    margin-top:48px;
}

.step {
    text-align:center
}

.step span {
    display:inline-flex;
    width:64px;height:64px;
    border-radius:50%;
    background:rgba(227,160,8,.2);
    align-items:center;justify-content:center;
    font-size:28px;font-weight:700;color:var(--gold)
}

/* JOBS */
.jobs {
    background:#fff;
    color:#000;
    border-radius:24px;
    padding:64px
}

.jobs p {
    font-size: 1.25rem;
    font-weight: bold;
}

.job-list {
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:24px;
    margin-top:32px}
.job {
    border: 3px solid #e5e7eb;
    /* border: 13px solid rgba(255,255,255,.15); */
    border-radius:16px;
    padding:24px;
}

.job h4 {
    margin-bottom:8px
}

.job p {
    font-size:14px;
    color:#475569
}

.job span {
    color: (--muted);
    font-size: .8rem;
}

.job a {
    display:inline-block;
    margin-top:12px;
    font-weight:600;
    font-size: .86rem;
    color: var(--gold);
}

.job a:hover {
    color: var(--blue);
}

.msg > h3 {
    text-align: center;
    color: black;
}

/*================== CONTACT ==================*/
.contact {
    background:#fff;
    color:#000;
    border-radius:24px;
    padding: 64px;
    padding:36px 64px 42px;
    display:grid;
    grid-template-columns:1fr 1fr;
    margin: 4rem;
    /* gap:48px; */
    gap: 16px;
    box-shadow: 1px 3.5px 9px rgba(0, 0, 0, .1);
    /* height: 320px; */
}

.get {
    display: flex;
    flex-direction: column;
    gap: 1.75rem;
}

.get > h3 {
    font-size: 1.8rem;
}

.contact input,.contact textarea {
    width:100%;
    padding:12px;
    margin-bottom:16px;
    /* border-radius:8px; */
    border-radius: 14px;
    border:1px solid #cbd5f5
}

.contact input::placeholder,
.contact textarea::placeholder {
    font-family: "Roboto", sans-serif;
    color: grey;
}

.contact-details {
    display: flex;
    flex-direction: column;
}

.contact-detail {
    /* display: flex;
    flex-direction: column; */
    /* justify-content: flex-start; */
    /* align-items: center; */
}

.contact i {
    font-size: 1.2rem;
    background: var(--gold);
    padding: .3rem .6rem;
    border-radius: 50%;
    /* margin-right: .45rem; */
}

.contact-detail h4 {
    font-size: 1.2rem;
}

.contact-detail p {
    /* color: grey; */
    font-size: .86rem;
    text-align: left;
}

.contact-detail .socials {
    display: flex;
    gap: .65rem;
}


.contact-detail .socials a {
    background-color: var(--gold);
    padding: .3rem .2rem;
    border-radius: 50%;
    /* border: none; */
    /* color: #fff; */
    color: black;
    font-size: 1.14rem;
    /* margin-right: 1rem; */

}

.submit {
    /* background:var(--gold);
    border:none;
    padding:14px;
    border-radius:12px;
    font-weight:700 */
}

.fr > h3 {
    font-size: 1.8rem;
}

.fr button {
    width: 100%;
    color: var(--light);
    background:var(--gold);
    border:none;
    padding:14px;
    border-radius:12px;
    font-weight:700;
    cursor: pointer;
}

/* footer {
    text-align:center;
    color:#94a3b8;padding:32px
} */

footer {
    margin-top: 2.5rem;
  position: relative;
  /* background: url('footer-bg.jpeg') center/cover no-repeat; */
  background-image: url('./assets/footer-bg.jpeg');
  color: #fff;
}

.footer-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.8);
}

.footer-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 40px;
  padding: 70px 80px;
}

.brand {

}

.footer-col {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.brand p {
    font-size: .86rem;
}

.brand li {
    font-size: .86rem;
}

.footer-col h4 {
     margin-bottom: 16px; 
}

.footer-col ul { 
    list-style: none; 
    padding: 0; 
}

.footer-col ul li { 
    margin-bottom: 10px; 
}

.footer-col a {
     color: #cfd8dc; 
     text-decoration: none; 
     font-size: .9rem;
}

.footer-col a:hover {
     color: #fff; 
}

.footer-col .social {
    display: flex;
    gap: .5rem;
}

.footer-col .social i {
    background-color: hsla(0 10% 20% / .5);
    padding: .5rem .65rem;
    border-radius: 50%;
}
.brand .logo { 
    display: flex; align-items: 
    center; gap: 10px; 
}

.newsletter-box {
     display: flex; 
}

.newsletter-box input {
  flex: 1; 
  padding: 10px; 
  border-radius: 25px 0 0 25px; 
  border: none;
}

.newsletter-box button {
  padding: 10px 18px; 
  border-radius: 0 25px 25px 0;
  background: #15438b; 
  border: none; 
  color: #fff; 
  cursor: pointer;
}

.newsletter p {
    font-size: .86rem;
}

.footer-bottom {
  background: #15438b;
  /* padding: 15px 80px; */
  padding: 15px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}
.footer-bottom a {
     color: #fff; 
     margin-left: 15px; 
}

@media (max-width: 992px) {
  .footer-container { grid-template-columns: repeat(2, 1fr); }
}

@media (max-width: 576px) {
  .footer-container { grid-template-columns: 1fr; }
  .footer-bottom { flex-direction: column; text-align: center; gap: 10px; }
}

@media(max-width:1024px) {
    .cards,.team,.steps,.job-list{grid-template-columns:1fr 1fr}
}

@media(max-width:640px) {
    .cards,.team,.steps,.job-list,.contact{grid-template-columns:1fr}
    .hero-content h1{font-size:40px}
}