/* google fonts cdn */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --blue:#0b5ed7;
    --dark:#0f172a;
    --gold:#e3a008;
    --light:#f8fafc;
    --card:#1e293b; 
    --muted:#94a3b8;
}

* {
    box-sizing:border-box;
    list-style: none;
    margin:0;
    padding:0;
}

body {
    /* font-family:'Inter',sans-serif; */
    font-family: "Roboto", sans-serif;
    /* background:#0b1220; */
    background: #fff;
    color:#fff;
    line-height:1.6;
    /* margin: 0;
    padding: 0; */
}

html, body {
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

::-webkit-scrollbar {
    height: 8px !important;
    /* width: 1rem; */
    width: 7px !important;
}

::-webkit-scrollbar-track {
    /* background-color: transparent !important; */
    background-color: #e5e5e5 !important;
}

::-webkit-scrollbar-thumb {
    background-color: var(--gold) !important;
    /* border-radius: 5rem; */
    border-radius: 5px !important;
}

a {
    text-decoration:none;
    color:inherit
}

.highlight {
    color: var(--gold);
}

.pointer {
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

/*================= header part =================*/

.header {
    /* background:url('https://images.unsplash.com/photo-1521737604893-d14cc237f11d'); */
    background:url('./assets/header.jpeg');
    /* background-image: url('https://images.unsplash.com/photo-1521737604893-d14cc237f11d'); */
    background-position: left;
    background-size: cover;
    /* background-repeat: 400%; */
    background-repeat: no-repeat;
    /* min-height: 92vh; */
    /* min-height: auto; */
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    flex-direction: column;
    /* gap: 5rem; */
}

/* NAVBAR */
.navbar {
    background:#fff;
    color:#000;
    padding:16px 48px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    /* border-radius:16px; */
    border-radius: 2rem;
    margin:24px auto;
    /* margin: 0 auto 24px; */
    width: 1100px;
    max-width: 1600px;
    /* width: 800px; */
    /* position: relative; */
    /* position: fixed; */
    position: absolute;
    z-index: 999999;
    box-shadow: 1px 3px 9px rgba(0, 0, 0, .12);
    top: 24px;
    left: 50%;
    transform: translateX(-50%);
}

.nav-links a {
    margin:0 16px;
    font-weight:500;
     position: relative;
}

.nav-links a::after {
    content: '';
    position: absolute;
    height: 3px;
    width: 0;
    /* background-color: #5a2ada;
    background-color: #701414; */
    background-color: var(--gold);
    left: 0;
    bottom: -10px;
    transition: .3s;
}

.nav-links a:hover::after {
    width: 100%;
}

.nav-links a:hover {
    color: var(--gold);
}

/* .nav-links a.active {
    color:var(--gold)
} */

.nav-toggle {
  display: none;
  font-size: 28px;
  cursor: pointer;
}

.btn{
    background:var(--gold);
    color:#000;
    padding:10px 18px;
    border-radius:999px;
    font-weight:600;
}

/*=============== HERO part ===============*/
.hero{
    /* background:url('https://images.unsplash.com/photo-1521737604893-d14cc237f11d') center/cover no-repeat; */
    /* min-height:70vh; */
    /* max-width: max-content; */
    width: 100%;
    position:relative;
    display:flex;
    flex-direction: column;
    /* background: var(--gold); */
    justify-content: flex-end;
    margin-top: 0;
    min-height: 70vh;
    /* margin-top: 10%; */
    /* align-items:flex-end; */
    /* align-items: center; */
}

.hero-content{
    /* position:relative;
    margin:0 auto;
    padding:48px; */

    position: relative;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    /* padding: 48px;
    padding-top: 120px; */
    padding: 120px 5% 40px;
    /* padding-top: 160px;  */
    text-align: left;
}

.hero-content h1{
    font-size:56px;
    font-weight:800;
    /* margin-top: 2rem; */
    /* text-align: left; */
}

/* .hero-strip{
    background:var(--gold);
    color: #fff;
    padding:32px;
    margin-top:32px;
    border-radius:12px;
    max-width: 100%;
} */

.hero-strip{
    width: 100%;
    background: var(--gold);
    /* padding: 32px 0; */
    padding: 16px 0;
    /* display: none; */
    /* padding: 120px 5% 40px; */
    /* margin-top: 22px; */
}

.hero-strip-inner{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 48px;
    color: #fff;
    /* font-size: 15px; */
    font-size: 17px;
    line-height: 1.6;
}

.cta {
    display: none;
}

/* WHY JOIN */
.why {
    background-image: url('./assets/whybg.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.section{
    padding:80px 48px;
    max-width:1200px;
    margin:auto;
}

.section h2 {
    font-size:36px;
    margin-bottom:32px;
    color: var(--gold);
}

.cards {
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap: 24px;
}

.card {
    background:rgba(255,255,255,.06);
    /* padding:32px; */
    padding: 22px 18px;
    border-radius:20px;
    /* border:1px solid rgba(255,255,255,.15); */
    border: 3px solid rgba(255,255,255,.15);
}

.card img {
    height: 90px;
}

.card h3 {
    margin:16px 0;
    font-size: 1.2rem;
}

.card p {
    color:var(--muted)
}

/* TEAM */
.team {
    display:grid;
    grid-template-columns:repeat(4,1fr);
    /* gap:32px; */
    /* gap: 12px; */
}

.member {
    /* text-align:center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.member img {
    /* width:140px;
    height:140px; */
    height: 190px;
    width: 190px;
    border-radius:50%;
    /* border:4px solid #fff; */
    border:6.65px solid #fff;
    object-fit:cover;
    transition: all 300ms ease;
}

.member img:hover {
    transform: translateY(-10px);
    cursor: pointer;
}

.member h4{
    margin-top:16px;
    font-size: 1.18rem;
}

.member span{
    color:var(--muted);
    font-size:14px;
}

.member .socials {
    /* font-size: 1rem; */
    /* background-color: hsla(0 10% 20% / .1);
    backdrop-filter: blur(1rem);
    padding: 1rem; */
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.member .socials i {
    font-size: 1.35rem;
    background-color: hsla(0 10% 20% / .5);
    backdrop-filter: blur(1rem);
    padding: .5rem .69rem;
    color: var(--gold);
    border-radius: 50%;
}

.member .socials i:hover {
    color: var(--muted);
}

/* HIRING PROCESS */
.process {
    background:#fff;
    color:#000;
    border-radius:24px;
    padding:64px;
}

.process p {
    font-size: 1.25rem;
    font-weight: bold;
}

.steps {
    display:grid;
    grid-template-columns:repeat(4, 1fr);
    gap:24px;
    margin-top:48px;
    position: relative;

}

.step {
    text-align:center;
    position: relative;
    /* background-color: rgba(227,160,8,.2); */
}

/* ICON CIRCLE */
.icon-wrapper {
  width: 140px;
  height: 140px;
  /* background: #fdecc8; */
  border-radius: 50%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* DOTTED ARROW */
.step:not(:last-child) .icon-wrapper::after {
  content: "";
  position: absolute;
  top: 50%;
  /* left: 100%; */
  left: calc(100% + 12px);  
  width: 80px;
  border-top: 3px dashed var(--gold);
  transform: translateY(-50%);
}

/* ARROW HEAD */
.step:not(:last-child) .icon-wrapper::before {
  content: "";
  position: absolute;
  top: 50%;
  /* left: calc(100% + 80px); */
  left: calc(100% + 12px + 80px); /* same gap + line width */
  transform: translateY(-50%);
  border-left: 10px solid var(--gold);
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
}

.step img {
    /* display:inline-flex; */
    /* width:64px;
    height:64px; */
    /* aspect-ratio: 1/1; */
    /* border: 2.95px solid var(--gold); */
    border-radius:50%;
    padding: 0 1.7rem;
    background:rgba(227,160,8,.2);
    /* align-items:center;
    justify-content:center; */
    /* font-size:28px;
    font-weight:700; */
    color:var(--gold);
}

.step p {
    color: var(--gold);
}

.step span {
    font-size: .86rem;
    color: var(--muted);
}

/* JOBS */
.jobs {
    background:#fff;
    color:#000;
    border-radius:24px;
    padding:64px
}

.job-filters {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  align-items: center;
  margin: 32px 0;
}

.job-filters select {
  padding: 10px 16px;
  border-radius: 10px;
  border: 1px solid #ccc;
  outline: none;
  background: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  cursor: pointer;
}

/* Remote toggle */
.remote-toggle {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
}

/* Switch */
.switch {
  position: relative;
  width: 42px;
  height: 22px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  inset: 0;
  background-color: #ccc;
  border-radius: 999px;
  transition: 0.3s;
}

.slider::before {
  content: "";
  position: absolute;
  height: 18px;
  width: 18px;
  left: 2px;
  bottom: 2px;
  background-color: #fff;
  border-radius: 50%;
  transition: 0.3s;
}

.switch input:checked + .slider {
  background-color: var(--gold);
}

.switch input:checked + .slider::before {
  transform: translateX(20px);
}


.job h4 {
    font-size: 1.25rem;
}

.jobs p {
    font-size: 1.25rem;
    font-weight: bold;
}

.job-list {
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:24px;
    margin-top:32px}
.job {
    border: 3px solid #e5e7eb;
    /* border: 13px solid rgba(255,255,255,.15); */
    border-radius:16px;
    padding:24px;
    transition: all 200ms ease;
    /* transition: opacity 0.3s ease, transform 0.3s ease; */

}

.job.hide {
  opacity: 0;
  transform: scale(0.95);
  pointer-events: none;
  display: none;
}

.job:hover {
    box-shadow: 0 3px 7px rgba(0, 0, 0, .1);
    cursor: pointer;
}

.job h4 {
    margin-bottom:8px;
}

.job p {
    font-size:14px;
    color:#475569;
    margin-top: 1rem;
}

.job span {
    color: (--muted);
    font-size: .86rem;
    /* margin-top: 2rem; */
}

.job a {
    display:inline-block;
    margin-top:12px;
    font-weight:600;
    font-size: .86rem;
    color: var(--gold);
}

.job a:hover {
    color: var(--blue);
}

.msg > h3 {
    text-align: center;
    color: black;
}

/*================== CONTACT ==================*/
.contact {
    background:#fff;
    color:#000;
    border-radius:24px;
    padding: 64px;
    padding:36px 64px 42px;
    display:grid;
    grid-template-columns:1fr 1fr;
    /* place-items: center; */
    /* margin: 4rem;
    margin-left: 8rem; */
    margin: auto;
    /* gap:48px; */
    gap: 16px;
    box-shadow: 1px 3.5px 9px rgba(0, 0, 0, .1);
    /* height: 320px; */
}

.get {
    display: flex;
    flex-direction: column;
    gap: 1.75rem;
}

.get > h3 {
    font-size: 1.8rem;
}

.contact input,.contact textarea {
    width:100%;
    padding:12px;
    margin-bottom:16px;
    /* border-radius:8px; */
    border-radius: 14px;
    /* border:1px solid #cbd5f5; */
    border: 1px solid grey;
    outline: none;
}

.contact textarea {
    resize: none;
}

.contact input::placeholder,
.contact textarea::placeholder {
    font-family: "Roboto", sans-serif;
    color: grey;
}

.contact-details {
    display: flex;
    flex-direction: column;
}

.contact-detail {
    /* display: flex;
    flex-direction: column; */
    /* justify-content: flex-start; */
    /* align-items: center; */
}

.contact i {
    font-size: 1.2rem;
    background: var(--gold);
    padding: .3rem .6rem;
    border-radius: 50%;
    /* margin-right: .45rem; */
}

.contact-detail h4 {
    font-size: 1.2rem;
}

.contact-detail p {
    /* color: grey; */
    font-size: .86rem;
    text-align: left;
}

.contact-detail .socials {
    display: flex;
    gap: .65rem;
}


.contact-detail .socials a {
    background-color: var(--gold);
    /* padding: .3rem .2rem; */
    padding: .3rem .15rem;
    border-radius: 50%;
    /* border: none; */
    /* color: #fff; */
    color: black;
    font-size: 1.12rem;
    /* margin-right: 1rem; */

}

.submit {
    /* background:var(--gold);
    border:none;
    padding:14px;
    border-radius:12px;
    font-weight:700 */
}

.fr > h3 {
    font-size: 1.8rem;
}

.fr button {
    /* width: 100%; */
    width: 36.5%;
    color: var(--light);
    background:var(--gold);
    border:none;
    /* padding:14px; */
    padding: 8px 10px;
    /* border-radius:12px; */
    border-radius: 10px;
    font-weight:600;
    font-size: 1.12rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* footer {
    text-align:center;
    color:#94a3b8;padding:32px
} */

footer {
  margin-top: 2.5rem;
  position: relative;
  /* background: url('footer-bg.jpeg') center/cover no-repeat; */
  background-image: url('./assets/footer-bg.jpeg');
  color: #fff;
}

.footer-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.8);
}

.footer-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 40px;
  padding: 70px 80px;
  /* place-items: center; */
}

.brand {

}

.footer-col {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.brand p {
    font-size: .86rem;
}

.brand li {
    font-size: .86rem;
}

.footer-col h4 {
     margin-bottom: 16px; 
}

.footer-col ul { 
    list-style: none; 
    padding: 0; 
}

.footer-col ul li { 
    margin-bottom: 10px; 
}

.footer-col a {
     color: #cfd8dc; 
     text-decoration: none; 
     font-size: .86rem;
}

.footer-col a:hover {
     color: #fff; 
}

.footer-col .social {
    display: flex;
    gap: .5rem;
}

.footer-col .social i {
    background-color: hsla(0 10% 20% / .5);
    padding: .5rem .65rem;
    border-radius: 50%;
}
.brand .logo { 
    display: flex; align-items: 
    center; gap: 10px; 
}

.newsletter-box {
     display: flex; 
}

.newsletter-box input {
  flex: 1; 
  padding: 10px; 
  border-radius: 25px 0 0 25px; 
  border: none;
}

.newsletter-box button {
  padding: 10px 18px; 
  border-radius: 0 25px 25px 0;
  background: #15438b; 
  border: none; 
  color: #fff; 
  cursor: pointer;
}

.newsletter p {
    font-size: .86rem;
}

.footer-bottom {
  background: #15438b;
  /* padding: 15px 80px; */
  padding: 15px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}
.footer-bottom a {
     color: #fff; 
     margin-left: 15px; 
}


/*================== Thank You Modal ==================*/
.thankyou-modal {
  position: fixed;
  inset: 0;
  display: none;
  z-index: 99999;
}

.thankyou-modal.active {
  display: block;
}

.thankyou-backdrop {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
  backdrop-filter: blur(4px);
}

.thankyou-box {
  position: relative;
  max-width: 420px;
  margin: auto;
  top: 50%;
  transform: translateY(-50%) scale(0.9);
  background: #fff;
  border-radius: 20px;
  padding: 40px 30px;
  text-align: center;
  box-shadow: 0 20px 50px rgba(0,0,0,0.2);
  animation: popup 0.4s ease forwards;
}

@keyframes popup {
  to {
    transform: translateY(-50%) scale(1);
  }
}

.thankyou-box .icon {
  width: 70px;
  height: 70px;
  /* background: var(--gold); */
  background: rgb(18, 193, 18);
  /* color: #000; */
  color: #fff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 36px;
  font-weight: bold;
  margin: 0 auto 20px;
}

.thankyou-box h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

.thankyou-box p {
  font-size: 16px;
  line-height: 1.6;
  color: #555;
  margin-bottom: 25px;
}

.thankyou-box button {
  background: var(--gold);
  border: none;
  padding: 12px 26px;
  border-radius: 999px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
}

.thankyou-box button:hover {
  transform: translateY(-2px);
}




/*================== Responsive ==================*/
@media(max-width:1024px) {
    .header {
        background:url('https://images.unsplash.com/photo-1521737604893-d14cc237f11d');
        background-position: left;
        background-size: cover;
        background-repeat: no-repeat;
        /* min-height: 78vh; */
    }

    .navbar {
        /* position: fixed; */
        max-width: 100%;
        border-radius: 0;
        top: 0;
        margin: 0;
    }

    .hero-strip {
        background-color: hsla(0 10% 20% / .5);
    }

    .hero-strip-inner {
        /* color: var(--muted); */
        color: lightgrey;
    }

    .cta {
        display: flex;
        /* justify-content: center;
        align-items: center; */
    }

    .cta a {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hero {
        /* width: 90%; */
    }

    .hero-strip {
        /* width: 88.5%;
        border-radius: 10px; */
    }

    .hero-strip-inner {
        /* color: var(--muted); */
        /* color: lightgrey; */
        font-size: 1.18rem;
    }

    .hero .cta {
        margin-top: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 180px;
        font-size: 1.15rem;
        border: none;
        outline: none;
        background-color: var(--gold);
        border-radius: 10px;
        padding: .65rem 1rem;
    }

    .team {
        gap: 4rem;
    }

    .cards,
    .team,
    .steps,
    .job-list{
        grid-template-columns:1fr 1fr;
    }
}


@media (max-width: 992px) {
    .team {
        /* gap: 4rem; */
    }
      .navbar {
        /* width: calc(100% - 32px); */
        padding: 14px 20px;
        /* border-radius: 16px; */
    }

    /* .navbar::after {
        display: block;
    } */

     .nav-toggle {
        display: block;
    }

    .nav-links {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: #fff;
        border-radius: 16px;
        padding: 16px 0;
        display: none;   /* will be hidden by default */
        flex-direction: column;
        text-align: center;
        box-shadow: 0 10px 30px rgba(0,0,0,.1);
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links a {
        padding: 12px 0;
        display: block;
    }

    /* .navbar:hover .nav-links {
        display: flex;
    } */

    .btn {
        display: none;
    }

    .contact {
        grid-template-columns: 1fr;
        padding: 32px 20px;
        margin: 2rem 1rem;
    }

  .fr button {
    width: 100%;
  }

  footer {
    background-size: 400%;
    /* background-position: center; */
  }

  .footer-container { 
    grid-template-columns: repeat(2, 1fr);
    padding: 50px 30px; 
    place-items: start;
  }
}

@media (max-width: 768px) {
    .header {
        background:url('https://images.unsplash.com/photo-1521737604893-d14cc237f11d');
        background-position: left;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .hero {
        /* min-height: auto; */
    }

    .hero-strip {
        background-color: hsla(0 10% 20% / .5);
    }

    .hero-strip-inner {
        /* color: var(--muted); */
        color: lightgrey;
    }

    .hero-content {
        padding: 32px 20px;
        padding-top: 90px;
    }

    .hero-content h1 {
        font-size: 36px;
    }

        .hero-strip {
            font-size: 14px;
            line-height: 1.6;
    }

    .hero-strip-inner {
        padding: 0 20px;
        font-size: 15px;
    }

    .process {
        padding: 40px 20px;
    }

    .step::before,
    .step::after {
        display: none;
    }

    .steps {
        grid-template-columns: 1fr;
        gap: 40px;
    }

    .step span {
        max-width: 260px;
        margin: auto;
        display: block;
    }

    .icon-wrapper::before,
    .icon-wrapper::after {
        display: none;
    }

    .job-filters {
        flex-direction: column;
        align-items: stretch;
    }

    .job-filters select {
        width: 100%;
    }

    .remote-toggle {
        justify-content: space-between;
    }

    .thankyou-box {
        max-width: 90%;
    }
}

@media(max-width:640px) {
    .cards,
    .team,
    .steps,
    .job-list,
    .contact {
        grid-template-columns:1fr;
    }

    .hero-content h1 {
        font-size:40px;
    }
}

@media (max-width: 576px) {
    .header {
        /* min-height: 82vh; */
    }

    .navbar {
        width: 100%;
        margin: 0;
        border-radius: 0px;
        top: 0;
    }

    .navbar img {
        height: 40px;
    }

    .nav-links {
        /* width: 160px; */
        border-radius: 0px;
        /* margin-top: 1rem;
        margin: 1rem auto; */
        /* height: 75vh; */
        /* justify-content: center;
        align-items: center; */
        /* background: hsla(0 10% 20% / .1);
        backdrop-filter: blur(.75rem); */
        /* color: #fff; */
        /* transition: all 300ms ease; */
    }

    .team {
        /* gap: 2rem; */
    }

    h2 {
        text-align: center;
    }

    .fr {
        margin-top: 1rem;
    }

    .member {
        background-color: hsla(0 10% 20% / .1);
        backdrop-filter: blur(.65rem);
        border: 1.25px solid lightgrey;
        padding: 1.7rem 1rem;
        border-radius: 16px;
    }

    .member img {
        width: 150px;
        height: 150px;
        border: 3.65px solid var(--muted);
    }

    .job span {
        display: -webkit-box;
        -webkit-line-clamp: 4;   /* number of visible lines */
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .job span.expanded {
        -webkit-line-clamp: unset;
        overflow: visible;
    }

    .job a:hover {
        color: var(--gold);
    }

    .contact-detail > h4 {
        margin-bottom: .5rem;
    }

    footer {
        background-position: right;
        background-size: cover;
    }

    .footer-overlay {
        background: rgba(0, 0, 0, .9);
    }

    .footer-container { 
        grid-template-columns: repeat(2, 180px); 
        /* text-align: center; */
        /* place-items: center; */
        /* padding: 3rem 2rem; */
    }

    .brand p {
        font-size: 1.12rem;
    }

    .brand li {
        /* font-size: 1rem; */
        font-size: .82rem;
    }

    .footer-col h4 {
        font-size: 1.15rem;
        color: var(--gold);
    }

    .footer-col a {
        font-size: 1.1rem;
    }

    .footer-col .social {
        /* justify-content: center; */
        justify-content: left;
        gap: 2.5px;
    }

    .footer-col .social a {
        font-size: 1.12rem;
    }

    .footer-col .social i {
        padding: .4rem .55rem;
    }

    .footer-bottom { 
        flex-direction: column; 
        text-align: center; 
        gap: 10px; 
        padding: 15px 20px;
    }

    .thankyou-box {
        width: calc(100% - 32px);
        padding: 28px 20px;
        border-radius: 16px;
    }

    .thankyou-box h2 {
        font-size: 22px;
    }

    .thankyou-box p {
        font-size: 14px;
    }

    .thankyou-box .icon {
        width: 56px;
        height: 56px;
        font-size: 26px;
        margin-bottom: 16px;
    }

    .thankyou-box button {
        width: 100%;
        padding: 12px;
        font-size: 15px;
    }
}



@media (max-width: 400px) {
    .thankyou-box {
        padding: 22px 16px;
    }

    .thankyou-box h2 {
        font-size: 20px;
    }

    .thankyou-box p {
        font-size: 13px;
    }
}
